{{!--
<section id="viewAddhotel">
    <h2>Edit existing hotel</h2>
    <form method="post" id="formAddhotel">
        <label for="hotel">Hotel name:</label>
        <input type="text" id="hotel" name="hotel" value="{{hotel}}">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{city}}">
        <label for="free-rooms">Free rooms:</label>
        <input type="number" id="free-rooms" name="free-rooms" value="{{freeRooms}}">
        <label for="imgUrl">Image:</label>
        <input type="text" id="imgUrl" name="imgUrl" value="{{imgUrl}}">

        <input type="submit" class="create" value="Add">
    </form>
</section> --}}
<main>
    {{#if error}}
    <div class="error-box">
        <span>{{error}}</span>
    </div>
    {{/if}}
    <section id="create-section">

        <h1 class="item">Edit Auction</h1>

        <div class="item padded align-center">

            <form class="layout left large" method="post" action="">

                <div class="col aligned">
                    <label>
                        <span>Title</span>
                        <input type="text" name="title" value="{{title}}"></label>
                    <label>
                        <span>Category</span>
                        <select name="category" value="{{category}}">
                            <option value="estate">Real Estate</option>
                            <option value="vehicles">Vehicles</option>
                            <option value="furniture">Furniture</option>
                            <option value="electronics">Electronics</option>
                            <option value="other">Other</option>
                        </select>
                    </label>
                    <label>
                        <span>Image URL</span>
                        <input type="text" name="imageUrl" value="{{imageUrl}}">
                    </label>
                    <label>
                        <span>Starting price</span>
                        {{#if count}}
                        <!-- If the current auction has a bidder, this input field should be disabled -->
                        <input type="number" name="price" value="{{price}}" disabled>
                        {{else}}
                        <input type="number" name="price" value="{{price}}">
                        {{/if}}
                    </label>
                </div>

                <div class="content pad-med align-center vertical">
                    <label>
                        <span>Description</span>
                        <textarea name="description">{{description}}</textarea>
                    </label>

                    <div class="align-center">
                        <input class="action" type="submit" value="Update Listing">
                    </div>
                </div>

            </form>

        </div>

    </section>

</main>